<div class="section-upload">
	<div class="row-upload">
		<div class="title-upload">
			<h3><%= resource.title %></h3>
		</div>
	</div>
	<div class="row-upload">
		<div class="button-upload">
			<button id="upload_mp3" class="cloudinary-button">Upload mp3</button>
		</div>
		<div class="preview-upload">
			<audio id="sound_audio" src="<%= resource.source unless resource.source.nil? %>" controls="true"></audio>
		</div>
	</div>
	<div class="row-upload">
		<div class="button-upload">
			<button id="upload_poster" class="cloudinary-button">Upload image</button>
		</div>
		<div class="preview-upload">
			<image id="sound_preview" src="<%= resource.poster unless resource.poster.nil? %>"></image>
		</div>
	</div>
</div>

  
 

<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>



<div class="hidden-form">
<%= semantic_form_for [:admin, Sound.find(params[:id])] do |f| %>
		<%= hidden_field_tag :par_ici, value: true %>
		<%= 	f.inputs do %>
		<%= 	f.input :poster %>
		<%= 	f.input :source %>

	<% end %>
	<%= f.actions %>
	
	
<% end %>
</div>


<script type="text/javascript">  
	var mp3_widget = cloudinary.createUploadWidget({ 
		cloudName: "dvhymcfm3", uploadPreset: "msg2xcck", folder: "radio_ulis/audio", multiple: false }, (error, result) => { 

			if (result.info.url != null) {
				console.log(result.info.url);
				//$("#preview").attr('src', result.info.url);
				$("#sound_source").val(result.info.url);
				$('<%= "#edit_sound_#{params[:id]}" %>').submit();
			}
		});


	document.getElementById("upload_mp3").addEventListener("click", function(){
		mp3_widget.open();
	}, false);

	var poster_widget = cloudinary.createUploadWidget({ 
		cloudName: "dvhymcfm3", uploadPreset: "msg2xcck", folder: "radio_ulis/poster", multiple: false }, (error, result) => { 

			if (result.info.url != null) {
				console.log(result.info.url);
				$("#preview").attr('src', result.info.url);
				$("#sound_poster").val(result.info.url);
				$('<%= "#edit_sound_#{params[:id]}" %>').submit();
			}
		});


	document.getElementById("upload_poster").addEventListener("click", function(){
		poster_widget.open();
	}, false);


	function updateSoundSource(url) {

		var fd = new FormData();
		fd.append('source', url);
		Rails.ajax({
			type: "PUT",
			url: "/sounds/#{params[:id]}",
			data: fd
		});

	}

	function updateSoundPoster(url) {

		var fd = new FormData();
		fd.append('poster', url);
		Rails.ajax({
			type: "PUT",
			url: "/sounds/#{params[:id]}",
			data: fd
		});

	}

	function testUpload(url) {


		$.ajax({
			type: 'PATCH',
			dataType: 'json',
			accept: 'json',
			path: '34',
			data: {
				source: url
			},
			beforeSend: (xhr, options) => {
				xhr.setRequestHeader('Content-Type', 'application/json')
				return true
			},
			success: (response) => {
			},
			failure: (response) => {
			}
		});
	}


</script>


