<button id="upload_widget" class="cloudinary-button">Upload files</button>

<% byebug %>

<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>




<script type="text/javascript">  
var myWidget = cloudinary.createUploadWidget({ 
  cloudName: "dvhymcfm3", uploadPreset: "msg2xcck", folder: "radio_ulis/audio", publicId: "<%= @sound.id %>"}, (error, result) => { });

console.log("<%= @sound.id %>");
//pas encore d'id tant que pas créé le sound


document.getElementById("upload_widget").addEventListener("click", function(){
    myWidget.open();
  }, false);
</script>


<div class="section-sounds">
	<% @sounds.each do |sound| %>
	<div class="section-sound">
		<div class="img-sound">
			<img src="<%= sound.poster %>"></img>
		</div>
		<div class="title-sound">
			<h3><%= sound.title %></h3>
		</div>
		
		<div class="audio-sound">
			<audio controls="true" controlsList="nodownload" src="<%= sound.source %>" type="audio/mpeg"></audio>
		</div>
	</div>
	<% end %>
</div>