<section class="imagebg height-90 image--light cover cover-blocks bg--secondary ">
	<div class="counter-class">Nombre de visites : <%= Counter.first.number %></div>	
	<div class="background-image-holder hidden-xs" style="opacity: 1;">
		<img alt="background" src="https://res.cloudinary.com/dvhymcfm3/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1570567492/radio_ulis/resources/nounours.jpg">
	</div>
	<div class="container-text-section">
    
					<h1>La tête dans les étoiles</h1>
					<p class="lead">
						La radio pour apprendre autrement
					</p>
					<hr class="short">
					<p>
						<span class="une-title">À la une :</span> 
						
						<br class="hidden-xs hidden-sm">

						<%= Sound.last.title %> - <%= Sound.last.author %> - Émission <%= Sound.last.playlist_sound.order %>

						<div class="photo-player-section">
							<img  class="photo" src="<%= Sound.last.poster %>"></img>
						</div>
						
					</p>	

	</div>
</section>

