<div class="section-playlists">
  <div class="tab__content">
    <section class="switchable ">
      <div class="container">
        <div class="row">
         <h2>Radio Ulis</h2>
         <h4> La radio pour apprendre autrement</h4>
         <span><%= @playlists.count %> Playlists à découvrir </span>
         <span>- <%= Sound.all.count %> Émissions à écouter </span>
          <div data-turbolinks="false" class="links-archive">

          <%= link_to '2019/2020', playlists_path   %>
          <%= link_to '2018/2019', playlists_archive_path  %>

         </div> 
         <div class="col switchable__text">
          <ul class="accordion accordion-1" style="min-height: 0px;">

            <% @playlists.each do |play| %>

            <li>
              <div class="accordion__title">
                 
                <span class="h4"><%= play.title %> </span> - <span class="h5"><%=play.playlist_sound.where(year:"2018/2019").count %> Émissions</span>
                
              </div>

              <% play.playlist_sound.each do |play_list| %>
              <% if play_list.year == "2018/2019" %>
              <%= render 'sound', play_list: play_list %>
              <% end %>

              

              <% end %>

            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
</div>

<%= render 'shared/player' %>